@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    height: 100vh;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;

}
.home-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #1e3a3a;
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    justify-content: space-between;
    color: azure;
    z-index: 10;
}
.rotate-slow {
    animation: rotate-gear 10s infinite linear;
    align-self: center;
}
.fade {
    opacity: 15%;
}

@keyframes rotate-gear {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}
