@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #452b8e;
}
html {
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Inter', sans-serif;
}
